<div class="mb-4 novalidate">
  <div class="input-group">
    <input
      [(ngModel)]="password"
      [type]="isPasswordEnabled ? 'password' : 'text'"
      placeholder="Enter password"
      class="form-control"
      name="password"
      required
      [minlength]="enforcedMinLength() ? 8 : 0"
      [pattern]="
        enforcedPattern()
          ? '^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-=\\[\\]{};:\\|,.<>\\/?]).{4,}$'
          : ''
      "
      #passwordInput="ngModel"
      [class.is-valid]="passwordInput.valid && passwordInput.dirty"
      [class.is-invalid]="passwordInput.invalid && passwordInput.dirty"
    />
    <div class="input-group-append">
      <div class="input-group-text">
        <span
          (click)="switchIsPasswordEnabled()"
          style="cursor: pointer"
          [attr.aria-label]="
            isPasswordEnabled ? 'Show Password' : 'Hide Password'
          "
          role="button"
          tabindex="0"
          (keydown.enter)="switchIsPasswordEnabled()"
        >
          <fa-icon [icon]="isPasswordEnabled ? faEye : faEyeSlash"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div
    class="text-danger mt-1"
    style="font-size: 0.75rem"
    *ngIf="passwordInput.invalid && passwordInput.touched"
  >
    <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
    <div *ngIf="passwordInput.errors?.['minlength']">
      Password must be at least 8 characters.
    </div>
    <div *ngIf="passwordInput.errors?.['pattern']">
      Must include uppercase, lowercase, number, and special character.
    </div>
  </div>
</div>
