<div [hidden]="submitted">
  <form
    class="form-control w-25 h-auto p-3 position-absolute top-50 start-50 translate-middle"
    (submit)="onSubmit()"
    #formLogin="ngForm"
  >
    <h1>Login</h1>
    <!-- Email input -->
    <div class="novalidate mb-4">
      <div class="input-group">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email Address"
          required
          email
          [class.is-valid]="email.valid && email.dirty"
          [class.is-invalid]="email.invalid && email.dirty"
          [(ngModel)]="credentials.email"
          #email="ngModel"
        />
      </div>
      <div
        class="text-danger mt-1"
        style="font-size: 0.75rem"
        *ngIf="email.invalid && email.touched"
      >
        <div *ngIf="email.errors?.['required']">Email is Required</div>
        <div *ngIf="email.errors?.['email']">Not a valid email</div>
      </div>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <app-password-input
        [enforcedMinLength]="enforcedMinLength"
        [enforcedPattern]="enforcedPattern"
        [(ngModel)]="credentials.password"
      ></app-password-input>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="text-center mb-4">
      <a routerLink="/auth/forgot-password" routerLinkActive="active"
        >Forgot password?</a
      >
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button
        [disabled]="!formLogin.valid"
        type="submit"
        class="btn btn-primary mb-4 w-100"
      >
        Sign in
      </button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="#!">Register</a></p>
      <p>or sign up with:</p>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <fa-icon [icon]="faGoogle"></fa-icon>
      </button>
    </div>
  </form>
</div>

<app-alert
  [alertMessage]="alertMessage"
  [alertType]="alertType"
  [isAlertHidden]="isAlertHidden"
></app-alert>
