
form {
  width: 50%;
  height: 50%;
  color: #36384C;
  background-color: #ffffff ;

  h1 {
    text-align: center;
  }
  .btn-primary {
    background-color: #849974 ;
    border-color: #849974;
  }
  .btn-secondary {
    background-color: #613A43;
    border-color: #613A43;
  }
}
