<div [hidden]="submitted">
  <form
    class="form-control w-25 h-75 p-3 position-absolute top-50 start-50 translate-middle"
    (submit)="onSubmit()"
    #formLogin="ngForm"
  >
    <h1>Login</h1>
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="email">Email address</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email Address"
        required
        [(ngModel)]="credentials.email"
      />
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter Password"
        required
        [(ngModel)]="credentials.password"
      />
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="text-center mb-4">
      <a href="#!">Forgot password?</a>
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button
        [disabled]="!formLogin.valid"
        type="submit"
        class="btn btn-primary mb-4 w-100"
      >
        Sign in
      </button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="#!">Register</a></p>
      <p>or sign up with:</p>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <fa-icon [icon]="faGoogle"></fa-icon>
      </button>
    </div>
  </form>
</div>
