form {
  width: 50%;
  height: 50%;
  color: #36384c;
  background-color: #ffffff;

  h1 {
    text-align: center;
  }
  .btn-primary {
    background-color: #849974;
    border-color: #849974;
  }
  .btn-secondary {
    background-color: #613a43;
    border-color: #613a43;
  }
}
